# I have heard of this guy here. They say it makes nonsenses like ignoring stuff. Hey, gitignore, can you actually ignore this project's deadline? all of this project in fact :). much apreciated my man!

sub02/
sub04/
sub06/
sub08/
sub10/
